.card {

	width: 70%;
	margin-left: 30px;
	
}
.image-style {

	width: 90%;

}

.container{
	height: 50px;
	margin-top: 22px;
	margin-bottom: 72px;
	font-family: 'Titillium Web';
	color: #FFFFFF;
	text-align: left;
	
}




